<nav class="navbar fixed-bottom bg-light navbar-dark" id="nav-border">
  <div class="row container-fluid custom-font" id="custom-padding">
    <div class="col-4 text-center nav-padding fs-5" id="border-right">
      <a href="/events" id="remove-link" class="stretched-link">
        <span><i class="fa-regular fa-calendar-days fa-lg"></i></span>
        <span id="custom-link">Events</span>
      </a>
    </div>
    <div class="col-4 text-center nav-padding fs-5">
      <a href="/dashboard" id="remove-link" class="stretched-link">
        <span><i class="fa-solid fa-house fa-lg"></i></span>
        <span id="custom-link">Home</span>
      </a>
    </div>
    <div div class="col-4 text-center nav-padding fs-5" id="border-left">
      <a href="/tasks" id="remove-link" class="stretched-link">
        <span><i class="fa-solid fa-clipboard fa-lg"></i></span>
        <span id="custom-link">Tasks</span>
      </a>
    </div>
  </div>
</nav>

<link href="../../bootstrap/style.css" />
