<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- this is a link to the css file -->
    <link rel="stylesheet" href="/style.css" />

    <!-- remember to include custom fonts - if you are using them -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "dayGridMonth",
          initialDate: "2023-07-07",
          headerToolbar: {
            left: "prev",
            center: "title",
            right: "next",
          },
          events: [
            {
              title: "Tutorial",
              start: "2023-08-01",
              color: "#3495c4",
            },
            {
              title: "John's Wedding",
              start: "2023-08-17",
              end: "2023-08-20",
              color: "#3495c4",
            },
            {
              title: "Mini Break",
              start: "2023-08-22",
              end: "2023-08-25",
              color: "#3495c4",
            },
          ],
        });
        calendar.setOption("height", "450px");
        calendar.render();
      });
    </script>
    <style>
      .fc-day-today {
        background: #3494c4aa !important;
        color: white !important;
        border: none !important;
      }

      .fc-dom-1 {
        background-color: blue;
      }

      .fc .fc-button-primary {
        color: white;
        background-color: #3495c4 !important;
        border-color: #ffffff !important;
      }
    </style>
  </head>

  <body>
    <%- include('./partials/title.ejs', {data: `Hello, ${locals.username}`,
    settings: 'true'})%>
    <div
      class="container d-flex justify-content-center align-items-center full-screen"
    >
      <div class="outer-box-calendar container-fluid">
        <div id="calendar"></div>
      </div>
    </div>

    <%- include('./partials/nav.ejs') %>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
