<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- this is a link to the css file -->
    <link rel="stylesheet" href="/style.css" />

    <!-- remember to include custom fonts - if you are using them -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <%- include('./partials/title.ejs', {data: `${locals.username}'s Events`})
    %>
    <div
      class="container d-flex justify-content-center align-items-center full-screen"
    >
      <div class="container-lg my-5">
        <div class="row mb-3">
          <div class="col-md-2 col-1"></div>
          <div class="col-md-8 col-10 d-grid">
            <a href="#" class="btn btn-primary" role="button"
              ><span><i class="fa-solid fa-plus fa-lg"></i></span> Create
              Event</a
            >
          </div>
          <div class="col-md-2 col-1"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-2 col-1"></div>
          <div class="col-md-8 col-10 d-grid event-custom-padding">
            <div class="event-container row">
              <div class="col-4 no-padding">
                <img
                  class="event-image"
                  src="https://images.unsplash.com/photo-1606800052052-a08af7148866?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
                />
              </div>
              <div class="col-7 event-text-padding">
                <h4>John's Wedding</h4>
                <h6>17-Aug-23</h6>
              </div>
              <div class="col-1 no-padding event-chevron">
                <i class="fa-solid fa-chevron-right fa-lg"></i>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-1"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-2 col-1"></div>
          <div class="col-md-8 col-10 d-grid event-custom-padding">
            <div class="event-container row">
              <div class="col-4 no-padding">
                <img
                  class="event-image"
                  src="https://images.unsplash.com/photo-1527002836355-e11c5be50cf8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
                />
              </div>
              <div class="col-7 event-text-padding">
                <h4>Mini Break</h4>
                <h6>22-Aug-23</h6>
              </div>
              <div class="col-1 no-padding event-chevron">
                <i class="fa-solid fa-chevron-right fa-lg"></i>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-1"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-2 col-1"></div>
          <div class="col-md-8 col-10 d-grid event-custom-padding">
            <div class="event-container row">
              <div class="col-4 no-padding">
                <img
                  class="event-image"
                  src="https://images.unsplash.com/photo-1534797258760-1bd2cc95a5bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1738&q=80"
                />
              </div>
              <div class="col-7 event-text-padding">
                <h4>Family BBQ</h4>
                <h6>2-Sept-23</h6>
              </div>
              <div class="col-1 no-padding event-chevron">
                <i class="fa-solid fa-chevron-right fa-lg"></i>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-1"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-2 col-1"></div>
          <div class="col-md-8 col-10 d-grid event-custom-padding">
            <div class="event-container row">
              <div class="col-4 no-padding">
                <img
                  class="event-image"
                  src="https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
                />
              </div>
              <div class="col-7 event-text-padding">
                <h4>Gaming Expo</h4>
                <h6>23-Sept-23</h6>
              </div>
              <div class="col-1 no-padding event-chevron">
                <i class="fa-solid fa-chevron-right fa-lg"></i>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-1"></div>
        </div>
      </div>
    </div>

    <%- include('./partials/nav.ejs') %>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
