<h1>Reset Password</h1>

<% if(locals.error){ %>
<h2><%= error %></h2>
<% } %> <% if(locals.success){ %>
<h2><%= success %></h2>
<% } %>

<form action="/settings/password" method="POST">
  <input
    type="password"
    name="CurrentPassword"
    placeholder="Current Password"
  /><br /><br />
  <input
    type="password"
    name="NewPassword1"
    placeholder="New Password"
  /><br /><br />
  <input
    type="password"
    name="NewPassword2"
    placeholder="Repeat New Password"
  /><br /><br />
  <button>Submit</button>
</form>
