<h1>Settings</h1>

<% if(locals.username && locals.email){ %>
<p>Hello, <%= username %></p>
<p><%= email %></p>
<% } %>

<form action="/settings/password" method="GET">
  <button>Change Password</button>
</form>

<form action="/settings/logout" method="POST">
  <button>Logout</button>
</form>
